<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585531252565-im501hogj1olt6ka3kl6enbh9683ekeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585531252565-im501hogj1olt6ka3kl6enbh9683ekeg</string>
	<key>API_KEY</key>
	<string>AIzaSyBvgsf42VVe3zKYqzZ2PYbNWWhKQAwKgtI</string>
	<key>GCM_SENDER_ID</key>
	<string>585531252565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.digistacks.kitty</string>
	<key>PROJECT_ID</key>
	<string>matjarkitty-610ab</string>
	<key>STORAGE_BUCKET</key>
	<string>matjarkitty-610ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585531252565:ios:902d74983b968b393259dc</string>
</dict>
</plist>